WebContent/wsdl/TestWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addNumbers">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addNumbersResponse">
    <complexType>
     <sequence>
      <element name="addNumbersReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplyNumbers">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplyNumbersResponse">
    <complexType>
     <sequence>
      <element name="multiplyNumbersReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divideNum">
    <complexType>
     <sequence>
      <element name="numerator" type="xsd:int"/>
      <element name="denominator" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="divideNumResponse">
    <complexType>
     <sequence>
      <element name="divideNumReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="divideNumRequest">

      <wsdl:part element="impl:divideNum" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNumbersRequest">

      <wsdl:part element="impl:addNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="divideNumResponse">

      <wsdl:part element="impl:divideNumResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplyNumbersResponse">

      <wsdl:part element="impl:multiplyNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addNumbersResponse">

      <wsdl:part element="impl:addNumbersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplyNumbersRequest">

      <wsdl:part element="impl:multiplyNumbers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestWebService">

      <wsdl:operation name="addNumbers">

         <wsdl:input message="impl:addNumbersRequest" name="addNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:addNumbersResponse" name="addNumbersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplyNumbers">

         <wsdl:input message="impl:multiplyNumbersRequest" name="multiplyNumbersRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplyNumbersResponse" name="multiplyNumbersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divideNum">

         <wsdl:input message="impl:divideNumRequest" name="divideNumRequest">

       </wsdl:input>

         <wsdl:output message="impl:divideNumResponse" name="divideNumResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestWebServiceSoapBinding" type="impl:TestWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplyNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplyNumbersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplyNumbersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="divideNum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="divideNumRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="divideNumResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestWebServiceService">

      <wsdl:port binding="impl:TestWebServiceSoapBinding" name="TestWebService">

         <wsdlsoap:address location="http://localhost:8080/AviWebProj/services/TestWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
